body {
	background-image: url("../images/concrete-texture.png");
	margin: 0 auto;
	border-top: #cccccc;

}

ul li {
	display: block;
	list-style-type: none;
	padding: 25px 25px;
    float: right;
    color: #cccccc;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    background-color: #ffffff;

}

#myName {
	float: left;
	list-style-type: none;
	margin: 0;
    padding: 25px 25px;
    overflow: hidden;
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 24;

}

nav {
	height: 70px;
    border-bottom: 2px solid #cccccc;
    background-color: #fff;
}

footer {
	height: 70px;
    border-bottom: 2px solid #cccccc;
    background-color: #fff;
    text-align: center;
    padding-top: 10px;
    min-height: 100%;
    margin-bottom: -50px;

}